@charset "UTF-8"; /* UTF-8 인코딩 방식 */

/* body 태그내 외부 간격 : 10 px */    
body {
   margin: 10px;
}
/* ul 태그에 대해서 "4개의 열(컬럼)"로 패널 레이아웃 구성하되 ( column-count: )
   내부간격을 20픽셀로 지정하고 ul 리스트가 가지고 있는 스타일은 제거합니다. */
 
ul {
   column-count: 4;
   padding: 20px;
   list-style: none;
}

li{
   break-inside: avoid; /* 패널 박스 출력시 컨텐츠 분할 현상 방지 */
}
img {
   display: block; /* "블록" 단위의 디스플레이 설정 */
   width: 100%; /* 너비 100% */
   height: auto; /* 높이 자동인식 설정 */
   border-radius: 30px; /* 외곽선 둥근 모서리 처리 : 30px */
}
/* p 문단 태그에 글꼴 크기는 1vmax 로 가변크기 글꼴로 처리하고, 문단내의 가로 정렬은 중앙 정렬 설정합니다. */
p{
   font-size: 1vmax;
   justify-content: center; /*오답 교정=> text-align: center;*/
}