@charset "UTF-8";


.wrap {

    width: 100vw;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 입력 패널 */
.input-fld-pnl {
    
    display: flex;
    align-items: flex-start;

    width: 800px;
    padding: 10px 0;    

    font-size: 1em;
}

::placeholder {

    color: darkblue !important;
    opacity: 0.5 !important;            /*부트스트랩.css에 순위 밀림?? !important로 강제 우선 적용함*/
    /* background-color: rgb(253, 253, 170); */
}

/* 라벨(공통) */
label {

    display: flex;
    align-items: center;
    width: 100px;

    padding:0 10px;
}

/* 전송-취소 버튼 패널 */
.btn-fld-pnl {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}